<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello World, This is home.html file</h1>
  <!-- <p>Username: {{username}}</p>
  <p>Age: {{age}}</p>
  <p>Job: {{job}}</p> -->
  {% for article in articles %}
    <article>
      <img src="{{article.img}}" alt="article.title">
      <h2>{{article.title}}</h2>
      <p>{{article.description}}</p>
    </article>
  {% endfor %}

</body>
</html>